.free-trial-fail-page-text-detail {
    width: 80vw;
    max-width: 493px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    line-height: 1.2;
    color: #000000;
    margin: 20px 0;
}