.name-fields,
.email-phone-fields,
.gender-birth-fields,
.buddies-select-field {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.form-field {
    margin-bottom: 1.5rem;
    width: 48%;
}

.form-field label {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #333;
}

.form-field input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    background: #D9D9D9;
}

.form-field input:focus {
    border-color: #007bff;
}

.submit-button {
    padding: 12px 30px;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 40%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.text-detail p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    color: #000000;
}

.phone-input-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}

.country-code {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #D9D9D9;
    outline: none;
    width: auto;
    min-width: 80px;
    box-sizing: border-box;
    text-align: center;
}

.phone-input-container input {
    flex: 1;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    background: #D9D9D9;
}

html[dir="rtl"] .name-fields,
html[dir="rtl"] .email-phone-fields,
html[dir="rtl"] .gender-birth-fields,
html[dir="rtl"] .buddies-select-field,
html[dir="rtl"] .phone-input-container {
    flex-direction: row-reverse;
}
