.video-container {
    margin-bottom: 20px;
    width: 42em;
    height: 24rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    pointer-events: none;
}